.wrapper {
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 1.28rem;
    font-family: var(--font-family);
    font-weight: 600;
    min-width: 66px;
    border: 3px solid transparent;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.small {
        min-width: 66px;
    }

    &.medium {
        min-width: 102px;
    }

    &.large {
        min-width: 306px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    text-align: center;
    align-items: center;

    img {
        width: 32px;
    }
}

.left-icon {
    margin-right: 12px;
}

.title {
    font-family: var(--font-family);
    text-align: left;
}

.solid-primary {
    background-color: var(--primary-color);
    color: white;
    transition: var(--default-transition);
    font-weight: 700;

    &:hover {
        color: white;
        background-color: #1fcbffbc;
    }
}

.text {
    transition: var(--default-transition);

    &:hover {
        color: var(--primary-color);
    }
}
