@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --font-family: 'Baloo 2', cursive;
    --white: #fff;
    --primary-color: #1fc9ff;
    --text-color: #262b33;
    --searchBar-width: 361px;
    --light-btn-color: rgba(167, 167, 171, 1);
    --default-transition: 0.2s ease-in-out;
    --header-height: 74px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-family: var(--font-family);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
}

// Util css
.headerActive {
    transition: var(--default-transition);
    background-color: var(--white);
    box-shadow: 0 0.65rem 1rem rgba(18, 38, 63, 0.03);
}

.menu-width-sm {
    width: 250px;
}

.menu-width-md {
    max-width: 582px;
}

.text-active {
    color: var(--primary-color) !important;
}

.bg-color-active {
    background-color: rgba(22, 24, 35, 0.05) !important;
}
