.wrapper {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: var(--white);
}

.inner {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 0 89px;
    justify-content: space-between;

    .left,
    .right {
        display: flex;
        align-items: center;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
}

.logo-link {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 6px;
}

.logo {
    object-fit: cover;
}

.login-btn {
    transition: var(--default-transition);
    &:hover {
        color: var(--text-color);
        background-color: #f6f7fb;
    }
}
